<div class="container text-center">
  <div class="row">
    <div class="slide-container">
      <!--Area of the images-->
      <div class="slide-wrapper">
        <img class="slide-img" src="images/car1.jpg" alt="Site Logo">
        <img class="slide-img" src="images/car2.jpg" alt="Site Logo">
        <img class="slide-img" src="images/car3.jpg" alt="Site Logo">
        <img class="slide-img" src="images/car4.jpg">
      </div>
    </div>
     <div>
    <button class="btn btn-outline-success btn-primary btn-group-lg" id="start_btn">start</button>
  </div>
  </div>
  {{!-- <div class="row about">
    <h2 class="about-us">Welcome to Cars-R-Us</h2>

    <p>Beyond accolades, our dealership is committed to giving back to the community that has done so much for us, as we
      strongly believe our success is linked with the growth of the community in which we operate. That’s why our
      executives serve on the boards and committees of several non-profit locations in the area, and why associates are
      encouraged to volunteer with charitable organizations of their choosing.</p>
  </div> --}}
 

</div>
<script src="./js/about-us.js"></script>