<h2>Contact Us</h2>
<div>
    <h4>Dealer Info</h4>
    <h5>Phone Numbers:</h5>
    <ul>
        <li>Main: 216-222-333</li>
        <li>Sales: 440-222-222</li>
        <li>Server: 800-212-900</li>
        <li>Parts: 216-434-888</li>
    </ul>
</div>