<section class="container sale-cars">
<h2>Your Cars</h2>
<button type="submit" class="btn add-car-button btn-primary"><a class="link" href="/sale/add-car">+ Add Car</a></button>

{{#if cars.length}}

    {{#each cars as |car|}}
    <article class="car">
      {{> dashboard-info car}}
      </article>
    {{/each}}

{{/if}}
</section>

<script src="./js/delete.js"></script>