
<section class="container">
<h2 class="saler-title">Your Cars</h2>
<button type="submit" class="btn add-car-button btn-primary"><a class="link" href="/sale/add-car">+ Add Car</a></button>
<div class="text-center cars">
    <div class="row align-items-start">
        {{#if cars.length}}

        {{#each cars as |car|}}
        <div class="col car">
            {{> dashboard-info car}}
        </div>
        {{/each}}

        {{/if}}
    </div>
</div>
</section>
<script src="./js/dashboard.js"></script>