<section class="container text-center buy-cars">
    <div class="row align-items-start">

        {{#each cars as |car| }}
        <div class="col car">

            {{> car-info car}}
        </div>
        {{/each}}
    </div>
</section>