<div class="container text-center cars">
    <div class="row align-items-start">
        {{#each cars as |car| }}
        <div class="col car">
            {{> car-info car}}
        </div>
        {{/each}}
    </div>
</div>