
<h2>Privacy Policy</h2>
<p>Use of this web site signifies your acknowledgement and consent to this privacy policy. Please read this privacy policy carefully before using this web site.</p>
<p>
Our dealership takes your privacy seriously and is committed to safeguarding your privacy online. Because we gather certain types of personal information from visitors to this web site (e.g. name, e-mail address, etc.), we have developed this privacy policy (the “Privacy Policy”) to help you understand the terms and conditions surrounding the collection and use of your personal information. This Privacy Policy discloses the types of personal information we gather, how it is used, and how you can gain access to and edit any data that we’ve collected about you at any time.
</p>
<h2>Guiding Principles:</h2>
<p>
Our Privacy Policy has been developed using the following guiding principles:</p>
<p>
Our dealership collects personal information online primarily to provide our visitors with a more relevant experience on this web site. When doing so, we will make every reasonable effort to avoid excessive or irrelevant collection of data. Our dealership will take reasonable physical, electronic and managerial measures to safeguard and secure any personal information you provide to us (e.g. data will be stored in protected databases on secured servers with restricted access). However, given that electronically submitted data is not 100% secure, we make no representations or warranties as to the security of any personal information you submit online, which you do at your own risk.
</p>