<div class="column">

    <h2>Create Account : </h2>

    <form class="signup">

        <div>
            <label for="usernamelog">Username : </label>
            <input type="text" id="usernamelog"/>
        </div>

        <div>
            <label for="emaillog">Email : </label>
            <input type="text" id="emaillog"/>
        </div>

        <div>
            <label for="passwordlog">Password : </label>
            <input type="text" id="passwordlog"/>
        </div>

        <div>
            <button type="submit">Signup</button>
        </div>
    </form>
</div>