:root {
  --primary: #9fa0a2;
  --secondary: #205375;
  --tertiary: #F66B0E;
  --quatrinary: #dcd9d9;
  --light: #e3e4e3;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

html {
    height: 100%;
  }


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color:var(--quatrinary);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h1,h2,h3,h4,h5,h6{
    font-size: 100%;
}

 a {
    color: rgba(62, 62, 63, 1);
    text-decoration: none;
 }

 input {
     display: block;
 }

 ul {
     list-style-type:  none;
     background: #fff;
 }

.wrapper {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color:var(--quatrinary);
  position: relative;
 
}

main.container {
  height: auto;
  overflow: hidden;
}

a:visited {
  color: inherit;
}

.container-fluid{
text-align: center;

}
nav {
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  height: 10vh;
  width: 95%;
  margin: 0 auto;
} 

.logo{
  color: #F66B0E !important;
  font-weight: 700;
  padding: 10px 10px;
  margin: 10px 10px;
  width: 100px;
  height: 40px;
  display: inline-block;
}

.logo:hover{
  color: var(--light) !important;
}

.navbar-nav{
margin-left: 40px;
font-size: 18px;
display: flex;
gap: 1em;
text-align: center;

}

.nav-item{
  pad: 5px 14px;
}
.nav-link{
  color: var(--light) !important;
}
nav a {
  color: var(--light) !important;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
border-radius: 20%;
background-color: var(--tertiary) !important;
}


#start_btn{
  margin-top: 10px;
  margin-bottom: 10px;
 position: absolute;
  bottom:5px;
  border-radius: 5px;
  border: 3px solid #ffffff;
  box-sizing: content-box;
  box-shadow: -1px 3px 5px black;
  background-color:var(--tertiary); 
}

#start_btn:hover{
  color: var(--light);
  background-color: var(--dark);
}
.form-control {
  width: 80%;
  margin-left: 40px;
}

/* cards style */
.cars{
  margin-top: 15px;
}
.card-img-top{
  width: 286px;
  height:289px;
}

/*Basic structure of slider*/
.slide-container{
  width:100%;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  overflow: hidden;
  border: 10px solid #ffffff;
  border-radius: 8px;
  box-shadow: -1px 5px 15px black;
}


/*Area of images*/
.slide-wrapper{
  width: 100%;
  display: flex;
  animation: slide 16s infinite;
}

.slide-img{
  width: 100%;
}
/*Animation activated by keyframes*/
@keyframes slide{
  0%{
      transform: translateX(0);
  }
  25%{
      transform: translateX(0);
  }
  30%{
      transform: translateX(-100%);
  }
  50%{
      transform: translateX(-100%);
  }
  55%{
      transform: translateX(-200%);
  }
  75%{
      transform: translateX(-200%);
  }
  80%{
      transform: translateX(-300%);
  }
  100%{
      transform: translateX(-300%);
  }
}


form.form-group{
  width: 50%;
}

/* contact styles */
.contact{
  font-size: 30px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* login styles */
.login-card{
margin-top: 6%;
margin-left: 25%;
}
.page-title{
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 3px;
  margin-left: 2px;
}
/* Changes the background color and font color of the login-form and signup-form from login.js. */
.login-form {
  width: 50%;
  background-color: var(--primary);
  color: var(--light);
}

.signup-form {
  width: 50%;
  background-color: var(--primary);
  color: var(--light);
}

/* Changes the background color and font color of the name-signup, email-signup, and password-signup from login.js. */
#name-signup {
  background-color: var(--light);
  color: var(--tertiary);
}

#email-signup {
  background-color: var(--light);
  color: var(--tertiary);
}

#password-signup {
  background-color: var(--light);
  color: var(--tertiary);
}

/* Changes the background color and font color of the email-login and password-login from login.js. */
#email-login {
  background-color: var(--light);
  color: var(--tertiary);
}

#password-login {
  background-color: var(--light);
  color: var(--tertiary);
}

/* Changes the background color and font color of all buttons on the sign up and login page. As well as changing those colors while hovering the buttons. */
button {
  background-color: var(--secondary);
  color: var(--light);
}

button:hover {
  color: var(--secondary);
  background-color: var(--dark);
}


/* footer */
footer{
  color:var(--quatrinary);
  height: auto;
  padding: 30px 0;
}

footer #footer-nav-container{
   color:var(--quatrinary);
  display: block;
  text-align: center;
}

#footer-nav-container div{
  display: inline-block;
}

footer a{
   color:var(--quatrinary);
  margin-right: 0;
  padding: 0 1.5em;
}


footer .logo {
  margin-top: 2rem;
}

.dashboard-cars{
  margin-top: 15px;
}


.center-out{
  padding-left: 35%;
}

/* setting max witdh for images loaded from cloudinary */
#car-image-new{
  max-width: 100%;
}